.container {
  height: 100vh;
  background-color: rgb(22, 18, 105);
  display: flex;
  justify-content: center;
  align-items: center;
}

.jeu {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.jeu button {
  background-color: rgb(22, 18, 105);
  border: none;
  color: white;
  width: 100%;
  padding: 10px;
}

.jeu button:hover {
  opacity: 0.7;
}

.imgde {
  width: 60px;
}